# Hamming weights tests from the `full` battery.
# Useful for LFSR screening.
battery name=hamming.cfg end

# Hamming weights based tests
hamming_distr      test=hamming_distr  nlevels=10       nvalues=8_589_934_592  end # 2^33
hamming_ot         test=hamming_ot     mode=bytes       nbytes=8_589_934_592   end # 2^33
hamming_ot_low1    test=hamming_ot     mode=bytes_low1  nbytes=8_589_934_592   end # 2^33
hamming_ot_low8    test=hamming_ot     mode=bytes_low8  nbytes=8_589_934_592   end # 2^33
hamming_ot_values  test=hamming_ot     mode=values      nbytes=8_589_934_592   end # 2^33

# Hamming weights based "long" tests
hamming_ot_u128  test=hamming_ot_long  wordsize=w128  nvalues=8_589_934_592 end # 2^33
hamming_ot_u256  test=hamming_ot_long  wordsize=w256  nvalues=8_589_934_592 end # 2^33
hamming_ot_u512  test=hamming_ot_long  wordsize=w512  nvalues=8_589_934_592 end # 2^33
