# MaxOfT tests from the `full` battery
maxoft_4d   test=maxoft t=4  ntuples=50_000_000 nbins=100_000 end
maxoft_8d   test=maxoft t=8  ntuples=50_000_000 nbins=100_000 end
maxoft_16d  test=maxoft t=16 ntuples=50_000_000 nbins=100_000 end
maxoft_32d  test=maxoft t=32 ntuples=50_000_000 nbins=100_000 end
